/* Start Variables */
:root {
    --main-color : #10cab7;
    --sec-color: #2c4755;
    --bg-color: #f6f6f6;
}
/* end Variables */
/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}
/* end Global Rules */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
/* start special rules */
.sec {
    padding: 60px 0;
}
.overlay-header {
    text-align: center;
}
.back-txt {
    font-size: 100px;
    color: #ebeced;
}
.overlay-header p {
    margin-top: -30px;
    color: #797979;
    font-size: 20px;
    margin-bottom: 60px;
}
/* end special rules */
/* start Header */
/*start nav bar */
nav {
    padding: 20px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 60px;
}
.dropdown {
    position: relative;
}
.icon {
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon span {
    height: 2px;
    background-color: #333;
}
.middle {
    align-self: flex-end;
    width: 50% !important;
    transition: 0.3s ease;
}
.dropdown:hover .middle {
    width: 100% !important;
}
.nav-links {
    position: absolute;
    top: 33px;
    right: 0;
    display: none;
}
.nav-links ul {
    list-style: none;
}
.nav-links ul li {
    background-color: var(--bg-color);
    transition: 0.4s padding-left ease;
    width: 200px;
}
.nav-links ul li:not(:last-child) {
    margin-bottom: 1px;
}
.nav-links a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    padding: 15px;
}
.nav-links ul li:hover {
    padding-left: 10px;
}
.dropdown:hover::after {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--bg-color) transparent;
    top: 5px;
    right: 0;
}
.dropdown:hover .nav-links {
    display: block;
}
/* end navbar  */
/* start background */
.background-img {
    height: calc(100vh - 64px);
    background: url("../Images/landing.jpg") no-repeat;
    background-size: cover;
}
.background-img .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.background-img .content h1 {
    color: var(--main-color);
    font-size: 50px;
}
.background-img .content p {
    margin: 15px 0;
    font-size: 19px;
    line-height: 1.9;
    text-align: center;
}
/* end background */
/* end Header */
/* Start Master Section */
/* start work section */
section .work {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat( auto-fit, 350px );
    gap: 40px;
    justify-content: center;
}
section .work div{
    padding: 30px;
    text-align: center;
}
section .work div i {
    color: var(--main-color);
    font-size: 40px;
}
section .work div h2 {
    font-weight: 800;
    margin: 30px 0;
}
section .work div p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* end work section */
/* start services section*/
.services-sections {
    display: grid;
    grid-template-columns: repeat( auto-fit, 350px );
    gap: 0 40px;
    justify-content: center;
}
.services-sections .square {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
}
.services-sections i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services-sections .square .square-txt {
    flex: 1;
}
.services-sections h3 {
    margin-bottom: 20px;
}
.services-sections p {
    font-weight: 300;
    line-height: 1.6;
    color: #444;
}
.services-sections .services-img {
    position: relative;
    width: fit-content;
}
.services-sections .services-img img {
    width: 260px;
}
.services-sections .services-img::before {
    content: "";
    position: absolute;
    right: 0;
    top: -15%;
    transform: translatex(50%);
    width: 40%;
    height: 130%;
    background-color: var(--sec-color);
    z-index: -1;
}
/* end services section*/
/* start Portfolio section*/
.gray-bg {
    background-color: var(--bg-color);
}
.portfolio-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, 350px );
    gap: 40px;
    justify-content: center;
}
.portfolio-cards div{
    background-color: white;
}
.portfolio-cards div img {
    width: 100%;
}
.portfolio-cards h3 {
    padding: 15px;
}
.portfolio-cards p {
    padding: 0 15px 15px;
    line-height: 1.6;
    color: #777;
}
/* end Portfolio section*/
/* start About Section  */
#about {
    padding-bottom: 120px;
}
.about-content {
    display: grid;
    grid-template-columns: auto 650px;
    gap: 0 200px;
    justify-content: center;
}
.about-content .about-img {
    position: relative;
}
.about-content .about-img img {
    width: 250px;
}
.about-content .about-txt {
    padding: 20px;
}
.about-content .about-txt h4 ,
.about-content .about-txt p {
    line-height: 2;
}
.about-content .about-txt h4 {
    font-size: 1em;
}
.about-content .about-txt p {
    color: #777;
}
.about-content .about-txt hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
    margin: 50px 0 30px;
}
.about-content .about-img::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10%;
    transform: translatex(-25%);
    width: 100px;
    height: 120%;
    background-color: #ebeced;
    z-index: -1;
}
.about-content .about-img::after {
    content: "";
    height: 78%;
    width: 40%;
    position: absolute;
    left: 80%;
    top: -10%;
    border-width: 0 0 80px 80px ;
    border-style: solid;
    border-color:var(--main-color);
    z-index: -1;
}
/* end About Section  */
/* start contact section  */
.contact-info {
    text-align: center;
    color: var(--sec-color);
}
.contact-info a {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
}
.contact-info>p {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 800;
}
.social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.social p {
    font-weight: 500;
}
.social i {
    margin-left: 10px;
}
/* end contact section  */
/* End Master Section */
/* start footer  */
footer {
    background-color: var(--sec-color);
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 18px;
}
footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* end footer  */
::selection {
    background-color: var(--main-color);
    color: white;
}
/* start media queryies */
@media (max-width: 1200px) {
    .col-img {
        display: none;
    }
    .about-content {
        grid-template-columns: 1fr;
    }
    .about-img::after,
    .about-img::before {
        display: none;
    }
    .about-content .about-img {
        margin-bottom: 40px;
    }
    .left-sec,
    .about-txt {
        margin: 0 auto;
    }
    .about-txt {
        text-align: center;
        width: 90%;
    }
}
@media (max-width: 767px){
    nav {
        justify-content: space-between;
    }
    .overlay-header p {
        margin-top: -20px;
    }
    .back-txt {
        font-size: 60px;
    }
    .square {
        flex-direction: column;
        text-align: center;
    }
    .square h3 {
        margin-top: 20px;
    }
    .services-sections i {
        flex-basis: unset;
    }
    .services-sections,
    section .work,
    .about-content,
    .portfolio-cards {
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    }
    .contact-info a,
    .contact-info>p {
        font-size: 25px;
    }
    .portfolio-cards div {
        width: 90%;
        margin: 0 auto;
    }
}
/* end media queryies */